body {    background:#d6e6f2;
     }

  /* .................... */

  
  :root {
    --main-radius: 5px;
    --main-padding: 5px;
  }
  
  body {
    font-family: "Inter", sans-serif;
  }
  .PFontSize{
      font-size: 15px;
  }
  .home__container {
    display: grid;
    height: 100vh;
    grid-template-columns: 0.5fr 1.5fr 1fr 0.5fr;
    grid-template-rows: 0.2fr 1fr 1.2fr 1fr 0.1fr;
    grid-template-areas:
      "header header header header"
      "sidebar main main sidebar2"
      "sidebar about about sidebar2"
      "sidebar appUse appUse sidebar2"
      "sidebar footer footer sidebar2";
    grid-gap: 0.2rem;
    font-weight: 800;
    /* text-transform: uppercase; */
    font-size: 12px;
    /* color: #004d40; */
    /* text-align: center; */
  }
  
  .home__header {
    background:#b9d7ea;
    grid-area: header;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    text-align: center;
      line-height: 3rem;
   }
  .home__main{
    text-align: center;

  }
  .home__appUse{
    background:  #769fcd;
    grid-area: appUse;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    /* text-align: center; */
    border: 5px solid #b9d7ea;
    padding: 50px;
    margin: 20px;
  }
  h2{
    text-align: center; 
  }
  .home__main {
    background:#769fcd;
    grid-area: main;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    border: 10px solid#d6e6f2;
    padding: 50px;
    margin: 20px;
    }
  
 
  
  .home__about {
    background:#b9d7ea;
    grid-area: about;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    border: 5px solid #769fcd;
    padding: 50px;
    margin: 20px;
  }
 
  
  .home__footer {
    background: #b9d7ea;
    grid-area: footer;
    border-radius: var(--main-radius);
    padding-top: var(--main-padding);
    text-align: center;
    border: 5px solid #769fcd;
     margin: 20px;
  }
  
  /* a {
    text-align: center;
    display: block;
    font-family: inherit;
    text-decoration: none;
    font-weight: bold;
    margin: 1rem;
  } */
  
  @media only screen and (max-width: 550px) {
    .home__container {
      grid-template-columns: 1fr;
      grid-template-rows: 0.4fr 1fr 1fr 1fr   ;
      grid-template-areas:
        "header"
        "about"
        "appUse"
        "footer"
    }
  }

 